
/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #0a0a0a;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* scroll bar */

::-webkit-scrollbar-track{
    background-color: #0d0d0d;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #fa0269;
    border-radius: 10px 
}

::-webkit-scrollbar{
    width: 0.3rem;
}

/* HEADER */

header{
    padding: 15px 4%;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.1);
    z-index: 1000;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 6%;
}

a{
    font-family: "DM Sans", sans-serif;
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}

.logo-nav{
    font-family: "Gemunu Libre", sans-serif;
    font-size: 2.50rem;
    font-weight: 200;
    border: 0;
    color: #fa0269;
    opacity: 0.7;
}

header nav ul{
    list-style-type: none; 
}

header nav ul li{
    display:  inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 530;
    background-color: #fa0269;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
}

header a:hover{
    color: #fff;
    transform: scale(1.10);
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 6px #fa0269d5;
}

/* HOME */

body{
    position: relative;
    
}
h1{
    color: #fff;
    font-family: "DM sans", sans-serif;
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 1rem;
    margin: 0px 0px 10px;
    margin-bottom: 1rem;
    line-height: 110%;
}

.text-typing{
    color: #7d7d7d;
    font-family: "DM sans", sans-serif;
    font-size: 2vw;
    font-weight: 800;
    margin: 0px 0px 32px;
}

section#home{
    padding: 0% 24px;
    height: 48rem;
    
}

section#home .flex{
    padding: 40px 10%;
    flex-direction: column;
    justify-content: center;
    height: 48rem;
    position: relative;
}

.vidro, .notebook{
    width: 25rem;
    right: 10%;
    position: absolute;
    display: block;
    margin-inline: auto;
    z-index: -100;
}

/* ABOUT */

section#about{
    background-color: #111111;
    height: 45rem;
    padding: 120px 20px;
}

img.foto-de-perfil{
    width: 28rem;
    box-shadow: 0 0 2rem;
}

.textn2{
    font-family: "DM sans", sans-serif;
    font-size: 3rem;
    line-height: 5.2rem;
    font-weight: 500;
    color: #fa0269;
    opacity: 0.7;
}

section#about .flex{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    gap: 6.7rem;
    flex-direction: row;
}

.abouttxt{
    font-family: "DM sans", sans-serif;
    font-size: 17px;
    margin: 24px 0;
    color: #FFFFFFA8;
    line-height: 1.5;
}

img.foto-de-perfil{
    border-radius: 1rem;
    max-width: 100%;
    transition: .8s;
}

img.foto-de-perfil:hover{
    transform: scale(1.10);
}

/* HardSkills */

section#conhecimentos{
    height: 45rem;
    padding: 120px 20px;
    background-color: #0a0a0a;
}

section#conhecimentos .flex{

    flex-direction: column;
    flex-wrap: wrap;
    gap: 4rem;
}


.textn3{
    font-family: "DM sans", sans-serif;
    font-size: 3rem;
    line-height: 5.2rem;
    font-weight: 500;
    color: #fa0269;
    margin: 0 35%;
    opacity: 0.7;
}

.html5,.js,.css3 {
    width: 4rem;
}

.card p{
    font-family: "DM sans", sans-serif;
    font-size: 17px;
    color: #FFFFFFA8;
    line-height: 1.3;
    text-align: left;
}

.card h3{
    font-weight: bold;
    color: #fff;
    font-family: "DM sans", sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 4rem;
}

.card{
    padding: 28px;
    width: 22rem;
    line-height: 2rem;
    background-color: #0d0d0d;
    box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.267);
    border-radius: 0.6rem;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}