
/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #000;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* scroll bar */

::-webkit-scrollbar-track{
    background-color: #0d0d0d;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #fa0269;
    border-radius: 10px 
}

::-webkit-scrollbar{
    width: 0.3rem;
}

/* HEADER */

header{
    padding: 20px 4%;
    position: sticky;
    top: 0px;
    background-color: transparent;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 6%;
}

a{
    font-family: "DM Sans", sans-serif;
    text-transform: capitalize;
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.logo-nav{
    font-family: "Gemunu Libre", sans-serif;
    font-size: 2.50rem;
    font-weight: 200;
    border: 0;
    color: #fa0269;
    opacity: 0.7;
}

header nav ul{
    list-style-type: none; 
}

header nav ul li{
    display:  inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 530;
    background-color: #fa0269;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    text-transform: capitalize;
}

header a:hover{
    color: #fff;
    transform: scale(1.10);
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 10px #fa0269d5;
}

/* HOME */

body{
    position: relative;
    
}
h1{
    color: #fff;
    font-family: "DM sans", sans-serif;
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 1rem;
    margin: 0px 0px 10px;
    box-sizing: border-box;
    margin-bottom: 1rem;
    line-height: 110%;
}

.text-typing{
    color: #7d7d7d;
    font-family: "DM sans", sans-serif;
    font-size: 2vw;
    font-weight: 800;
    margin: 0px 0px 32px;
}

section#home{
    padding: 0% 24px;
    height: 33rem;
}

section#home .flex{
    justify-content: space-between;
    padding: 10%;
    flex-direction: column;
    gap: 6rem;
    position: relative;
}

img.vidro, .notebook{
    width: 25rem;
    right: 10%;
    position: absolute;
    display: block;
    margin-inline: auto;
    z-index: -100;
}

/* ABOUT */

section#about{
    background-color: #0d0d0d;
    height: 40rem;
    padding: 120px 20px;
}

img.foto-de-perfil{
    width: 22rem;
}

.textn2{
    font-family: "DM sans", sans-serif;
    font-size: 3rem;
    line-height: 5.2rem;
    font-weight: 500;
    color: #fa0269;
}

section#about .flex{
    display: flex;
    justify-content:space-between;
    margin: 0 110px;
    gap: 6.7rem;
    flex-direction: row;
}

.abouttxt{
    font-family: "DM sans", sans-serif;
    font-size: 17px;
    margin: 24px 0;
    color: #FFFFFFA8;
    line-height: 1.5;
}

img.foto-de-perfil{
    border-radius: 1rem;
    max-width: 100%;
}

section#conhecimentos{
    height: 40rem;
    padding: 120px 20px;
}

.textn3{
    font-family: "DM sans", sans-serif;
    font-size: 3rem;
    line-height: 5.2rem;
    font-weight: 500;
    color: #fa0269;
    margin: 0 35%;
}